{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "rules": {
    /*override airbnb rule*/
    'linebreak-style': ['error', 'windows'],
    'jsx-quotes': ['error', 'prefer-double'],
    'react/no-unknown-property': ['error', { 'ignore': ['class', 'for'] }],
    'no-underscore-dangle': ['error', { 'allow': ['_id'] }],
    'no-plusplus': ['error', { "allowForLoopAfterthoughts": true }],
  },
  'globals': {
    'window': true,
    'document': true,
    'throwError': true,
  }
}
